/**
  * @name Dark+
  * @author DevEvil#8745
  * @version Dark+3
  * @description Highly customized dark and purple theme for Discord
  * @authorId 468132563714703390
  * @authorLink https://devevil.com
  * @source https://github.com/DevEvil99/DarkPlus-Discord-Theme
  * @website https://devevil.com
  * @invite jsQ9UP7kCA
*/

@import url('https://raw.githubusercontent.com/badspott/DarkPlus-Discord-Theme-With-Square-Avatar/main/Dark%2B.theme.css');

:root {
  --darkplus-bg: #0A0A0A;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #F90000;
  --darkplus-links: #C60300;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png);
  --darkplus-emoji-picker-color: FF0004;
}
